<footer>
  <div class="bottom-container">

    <div class="bottom-first-row">
      <div class="f1-c1">
        <img src="assets/images/icons8-treadmill-64.png" alt="learn-portal-logo" >
        <p class="spacer"> FitZone</p>
      </div>

      <div class="f1-c2">
        <a routerLink="" style="font-weight: bold">About Us</a>
      </div>

      <div class="f1-c3">
        <a routerLink="" style="font-weight: bold">Contact Us</a>
      </div>

      <div class="f1-c4">
        <a routerLink="" style="font-weight: bold">Terms & Conditions.</a>
      </div>

      <!--<div class="f1-c5">
        <a routerLink="" style="font-size: 20px; font-weight: bold;">Subscribe to our newsletter</a>
        <p>For product annoucements and exclusive insights</p>
        <form class="form-container">
          <input type="email" placeholder="input your email" required/>
          <button mat-raised-button color="primary" >Subscribe</button>
        </form>
      </div>-->
    </div>

    <div class="bottom-second-row">
      <hr>
    </div>

    <div class="bottom-third-row">
      <!-- <mat-form-field class="form-group">
         <mat-label>Language</mat-label>
         <mat-select [(value)]="selectedLanguage" (selectionChange)="onLanguageChange()">
           <mat-option *ngFor="let lang of languages" [value]="lang.value">
             {{ lang.viewValue }}
           </mat-option>
         </mat-select>
       </mat-form-field>-->


      <div class="details">
        <p>&#169; 2023 Learn, Inc. <b class="dot">.</b> Privacy <b class="dot">.</b> Terms</p>
      </div>


      <div class="social-media">
        <img src='assets/images/facebook.svg' alt="logo" style="margin-right: 50px"/>
        <img src='assets/images/instagram.svg' alt="logo" style="margin-right: 50px"/>
        <img src='assets/images/youtube.svg' alt="logo" style="margin-right: 50px"/>
      </div>
    </div>

  </div>

</footer>
<!--<mat-toolbar class="toolbarNav">-->
<!--  <span><p>&#169; 2023 Learn, Inc. <b class="dot">.</b> Privacy <b class="dot">.</b> Terms</p></span>-->
<!--  <span class="spacer"></span>-->
<!--  <button mat-button routerLink="/" routerLinkActive="active">About Us</button>&nbsp;&nbsp;&nbsp;-->
<!--  <button mat-button routerLink="/join-us" routerLinkActive="active">Contact Us</button>&nbsp;&nbsp;&nbsp;-->
<!--  <button mat-button routerLink="/signIn" routerLinkActive="active">Privacy</button>-->
<!--  <img src='assets/images/facebook.svg' alt="logo" style="margin-right: 50px"/>-->
<!--  <img src='assets/images/instagram.svg' alt="logo" style="margin-right: 50px"/>-->
<!--  <img src='assets/images/youtube.svg' alt="logo" style="margin-right: 50px"/>-->

<!--</mat-toolbar>-->
