<footer>
  <div class="bottom-container">

    <div class="bottom-first-row">
      <div class="f1-c1">
        <img alt="learn-portal-logo" src="assets/images/icons8-treadmill-64.png">
        <p class="spacer"> FitZone</p>
      </div>

      <div class="f1-c2">
        <a routerLink="" style="font-weight: bold">About Us</a>
      </div>

      <div class="f1-c3">
        <a routerLink="" style="font-weight: bold">Contact Us</a>
      </div>

      <div class="f1-c4">
        <a routerLink="" style="font-weight: bold">Terms & Conditions.</a>
      </div>
    </div>

    <div class="bottom-second-row">
      <hr>
    </div>

    <div class="bottom-third-row">

      <div class="details">
        <p>&#169; 2023 Learn, Inc. <b class="dot">.</b> Privacy <b class="dot">.</b> Terms</p>
      </div>

      <div class="social-media">
        <img alt="logo" src='assets/images/facebook.svg' style="margin-right: 50px"/>
        <img alt="logo" src='assets/images/instagram.svg' style="margin-right: 50px"/>
        <img alt="logo" src='assets/images/youtube.svg' style="margin-right: 50px"/>
      </div>
    </div>

  </div>

</footer>
