<div class="toolbar">
  <mat-toolbar>
    <div class="logo">
      <img alt="learn-portal-logo" src="../../../assets/images/icons8-treadmill-64.png">
    </div>
    <div class="menu">
      <h1>FitZone</h1>
    </div>
    <div class="toolbarButton">
      <button color="accent" mat-raised-button routerLink="/homePage">Home</button>
    </div>
  </mat-toolbar>
</div>
<div class="container">
  <div class="header">
    <h1>JOIN US</h1>
  </div>
  <div class="join-us-content">
    <div class="join-us-as-trainer">
      <mat-card class="example-card">
        <mat-card-content class="content">
          <div class="text">
            <h2>Register as Trainer</h2>
            <button color="primary" mat-raised-button routerLink="/trainerRegistration">Join Us</button>
          </div>
          <div class="image">
            <img src="../../../assets/images/gym7.jpg">
          </div>

        </mat-card-content>
      </mat-card>
    </div>
    <div class="join-us-as-trainee">
      <mat-card class="example-card">
        <mat-card-content class="content">
          <div class="text">
            <h2>Register as Trainee</h2>

            <button color="primary" mat-raised-button routerLink="/traineeRegistration">Join Us</button>
          </div>
          <div class="image">
            <img src="../../../assets/images/gym9.jpg">
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
