<div class="container">
  <div class="toolbar">
    <mat-toolbar>
      <div class="logo">
        <button (click)="openHome()" mat-icon-button>
          <img alt="learn-portal-logo" src="../../../assets/images/icons8-treadmill-64.png">
        </button>
      </div>
      <div class="menu">
        <h1>FitZone</h1>
      </div>
      <div class="toolbarButton">
        <button color="accent" mat-raised-button routerLink="/homePage">Sign Out</button>
      </div>
    </mat-toolbar>
  </div>

  <div class="login-form">
    <h2>CHANGE PASSWORD</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">

      <mat-form-field>
        <mat-icon class="my-icon" matPrefix>perm_identity</mat-icon>
        <mat-label>enter username</mat-label>
        <input formControlName="username" matInput name="username" type="text">
      </mat-form-field>

      <mat-form-field>
        <mat-icon class="my-icon" matPrefix>lock</mat-icon>
        <mat-label>Old Password</mat-label>
        <input formControlName="oldPassword" matInput name="oldPassword" type="password">
      </mat-form-field>

      <mat-form-field>
        <mat-icon class="my-icon" matPrefix>lock</mat-icon>
        <mat-label>New Password</mat-label>
        <input formControlName="newPassword" matInput name="newPassword" type="password">
      </mat-form-field>

      <mat-form-field>
        <mat-icon class="my-icon" matPrefix>lock</mat-icon>
        <mat-label>Confirm Password</mat-label>
        <input formControlName="confirmPassword" matInput name="confirmPassword" type="password">
      </mat-form-field>
      <button
        [disabled]="changePasswordForm.get('newPassword').value !== changePasswordForm.get('confirmPassword').value"
        color="primary" mat-raised-button
        type="submit">
        Save
      </button>
    </form>
  </div>

</div>

