<mat-toolbar>
  <button (click)="openHome()" mat-icon-button>
    <img alt="learn-portal-logo" src="../../../assets/images/icons8-treadmill-64.png">
  </button>
  <div class="menu">
    <h1>FitZone</h1>
  </div>
</mat-toolbar>
<div class="container">
  <div class="header">
    <h1>Registration</h1>
    <h4>Trainer</h4>
  </div>
  <div class="image-registrationdetails">
    <div class="image">
      <img Src="../../../assets/gym-trainer-registration.jpg" alt="trainer-registration-image">
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
      <div class="registrationdetails">
        <div class="form-group">
          <!--      <label>First Name</label>-->
          <mat-form-field>
            <mat-icon class="my-icon" matPrefix>perm_identity</mat-icon>
            <mat-label>Enter Firstname</mat-label>
            <input formControlName="firstNameFormControl" class="form-control" id="firstName" matInput
                   name="firstname" type="text">
            <mat-error *ngIf="registrationForm.get('firstNameFormControl').hasError('required')">
              FirstName <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <!--      <label>Last Name</label>-->
          <mat-form-field>
            <mat-icon class="my-icon" matPrefix>perm_identity</mat-icon>
            <mat-label>Enter Lastname</mat-label>
            <input formControlName="lastNameFormControl" class="form-control" id="lastName" matInput
                   name="lastName" type="text">
            <mat-error *ngIf="registrationForm.get('lastNameFormControl').hasError('required')">
              LastName <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <!--      <label>Email</label>-->
          <mat-form-field>
            <mat-icon class="my-icon" matPrefix>email</mat-icon>
            <mat-label>Enter Email</mat-label>
            <input formControlName="emailFormControl" class="form-control" id="email" matInput
                   name="email" type="text">
            <mat-error *ngIf="registrationForm.get('emailFormControl').hasError('required')">
              email <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="registrationForm.get('emailFormControl').hasError('email')">
             email should be in valid form
            </mat-error>
          </mat-form-field>

          <!--      <label>Specialization</label>-->
          <mat-form-field>
            <mat-icon class="my-icon" matPrefix>fitness_center</mat-icon>
            <mat-label>please select specialization</mat-label>
            <mat-select formControlName="trainingTypeFormControl" class="form-control"
                        id="trainingType" name="trainingType">
              <mat-option *ngFor="let specialization of specializations" [value]="specialization.value">
                {{specialization.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registrationForm.get('trainingTypeFormControl').hasError('required')">
              trainingType <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <button color="primary" mat-raised-button type="submit">submit</button>

        </div>
      </div>
    </form>
  </div>
</div>

