
<div class="container">
    <mat-toolbar>
      <div class="logo">
        <img src="assets/images/icons8-treadmill-64.png" alt="learn-portal-logo" >
      </div>
      <div class="menu">
       <h1>FitZone</h1>
      </div>
      <div class="login">
        <button mat-button routerLink="/homePage" >Home</button>
        <button mat-button routerLink="/signIn">Sign In</button>
        <button mat-raised-button color="primary" routerLink="/joinUs">Join Us</button>
      </div>
    </mat-toolbar>

</div>



