<div class="outer-container">
  <mat-toolbar>
    <div class="logo">
      <button (click)="openHome()" mat-icon-button>
        <img alt="learn-portal-logo" src="../../../assets/images/icons8-treadmill-64.png">
      </button>
    </div>
    <div class="menu">
      <h1>FitZone</h1>
    </div>
  </mat-toolbar>
  <div class="inner-container">
    <div class="image">
      <img alt="gym-image1" src="../../../assets/images/gym-image1.jpg">
    </div>
    <div class="signInForm">
      <div class="header">
        <h3>Sign In</h3>
        <h5>welcome back</h5>
      </div>

      <div class="login-form">
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <mat-form-field>
            <mat-icon class="my-icon" matPrefix>perm_identity</mat-icon>
            <mat-label>Enter Username</mat-label>
            <input formControlName="username" matInput name="username" type="text">
          </mat-form-field>


          <mat-form-field>
            <mat-icon class="my-icon" matPrefix>lock</mat-icon>
            <mat-label>Enter Password</mat-label>
            <input formControlName="password" matInput name="password" type="password">
          </mat-form-field>


          <mat-radio-group [(ngModel)]="selectedUserType" [ngModelOptions]="{standalone: true}"
                           aria-label="Type of User">
            <mat-radio-button value="trainee">Trainee</mat-radio-button>
            <mat-radio-button value="trainer">Trainer</mat-radio-button>
          </mat-radio-group>
          <div *ngIf="isValid"><h4 style="color: red">{{errorMessage}}</h4></div>

          <button color="primary" mat-raised-button type="submit">Sign In</button>
        </form>
      </div>

      <div class="bottom">
        <h5>or</h5>
        <div class="Sign-Up">
          <h5>Don't have an account ?</h5>&nbsp;
          <h5><a routerLink="/joinUs">Sign Up</a></h5>
        </div>
      </div>

    </div>
  </div>
</div>
