<div class="container">
  <div class="toolbar">
    <mat-toolbar>
      <div class="logo">
        <img src="assets/images/icons8-treadmill-64.png" alt="learn-portal-logo" >
      </div>
      <div class="menu">
        <h1>FitZone</h1>
      </div>
      <div class="login">
        <button mat-raised-button color="accent" routerLink="/homePage">Sign Out</button>
      </div>
    </mat-toolbar>
  </div>

  <div class="login-form">
    <h2>CHANGE PASSWORD</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

      <mat-form-field>
        <mat-icon matPrefix class="my-icon">perm_identity</mat-icon>
        <mat-label>enter username</mat-label>
        <input matInput type="text" name="username" formControlName="username">
      </mat-form-field>

      <mat-form-field>
        <mat-icon matPrefix class="my-icon">lock</mat-icon>
        <mat-label>Old Password</mat-label>
        <input matInput type="password" name="oldPassword" formControlName="oldPassword">
      </mat-form-field>

      <mat-form-field>
        <mat-icon matPrefix class="my-icon">lock</mat-icon>
        <mat-label>New Password</mat-label>
        <input matInput type="password" name="newPassword" formControlName="newPassword">
      </mat-form-field>

      <mat-form-field>
        <mat-icon matPrefix class="my-icon">lock</mat-icon>
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" name="confirmPassword" formControlName="confirmPassword">
      </mat-form-field>
      <button [disabled]="changePasswordForm.get('newPassword').value !== changePasswordForm.get('confirmPassword').value" color="primary" mat-raised-button
              type="submit">
        Save
      </button>
    </form>
  </div>

</div>

