<div class="container">
  <mat-toolbar>
    <div class="logo">
        <button (click)="openHome()" mat-icon-button>
          <img alt="learn-portal-logo" src="../../../assets/images/icons8-treadmill-64.png">
        </button>

    </div>
    <div class="menu">
      <h1>FitZone</h1>
    </div>
    <div class="toolBarButton">
      <button mat-button routerLink="/homePage">Home</button>
      <button mat-button routerLink="/signIn">Sign In</button>
      <button color="primary" mat-raised-button routerLink="/joinUs">Join Us</button>
    </div>
  </mat-toolbar>

</div>



