.table-container {
  text-align: center;
  padding: 20px;
    overflow:auto;

}

.mat-h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.mat-elevation-z8 {
  width: 100%;
}
button:hover {
  color: #17345d;
}

.logo img {
  height: 48px; /* Set the desired height */
  width: 65px; /* Set the desired width */
}
.menu h1{
  font-size: 25px;
  padding-right: 50%;

}
.logo,.menu{
  display: flex;
  flex: 1;
}

.login {
  display: flex;
  flex: 3;
  align-items: flex-end;
  padding-left: 75%;
}

mat-icon {
  height: 64%;
  width: 64%;
}
.icon{
  transform: scale(2);
}
mat-toolbar{
  background-color: #e6eef8;
}
.student-details button{
  color: #ffffff;
  background-color: #5a6d8a;
  width: 60%;
  margin-top: 5%;

}
.username{
  display: flex;
  flex-direction: row;
}
h2{
  margin-top: 5%;
}
.search-feilds{
  margin-left: 15%;
  margin-bottom: 5%;
}
.search-feilds button{
  margin-left: 3%;
}
