.header {
  text-align: center;
  background: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}

.header h2 {
  margin: 0;
  font-size: 24px;
}


.button-container {
  text-align: center;
  margin: 20px 0;
}

.button-container button {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button-container button:hover {
  background: #ffffff;
  color: #6781b0;
}
.mat-elevation-z8{
  overflow:auto;
}
