
<div class="container">
  <mat-toolbar>
    <div class="logo">
      <img src="assets/images/icons8-treadmill-64.png" alt="learn-portal-logo" >
    </div>
    <div class="menu">
      <h1>FitZone</h1>
    </div>
    <div class="login">
      <button class="shadowed-button" mat-raised-button routerLink="/signIn">Sign In</button>&nbsp;&nbsp;
      <button  class="shadowed-button" mat-raised-button  routerLink="/joinUs">Join Us</button>
    </div>
  </mat-toolbar>
<!--  <div class="static-text">-->
<!--    <div class="line-1">-->
<!--<h2>BUILD</h2>-->
<!--      <h1>YOUR BODY</h1>-->
<!--    </div>-->
<!--    <div class="line-2">-->
<!--<h2>TRANSFORM YOUR LIFE</h2>-->
<!--    </div>-->
<!--    <div class="line-3">-->
<!--<h4>WE PROVIDE OUR BEST OPPORTUNITY AND QUALIFIED TRAINERS </h4>-->
<!--      <h4>FOR BEST WORKOUT OURSELF AS YOU WANT</h4>-->
<!--    </div>-->
<!--  </div>-->
</div>
